[submodule "pallier-encryption"]
	path = pallier-encryption
	url = git@github.com:thor314/pallier-encryption.git
[submodule "uncloak"]
	path = uncloak
	url = git@github.com:thor314/uncloak.git
[submodule "pazk"]
	path = pazk
	url = git@github.com:thor314/pazk.git
[submodule "ccs-hack"]
	path = ccs-hack
	url = git@github.com:thor314/ccs-hack.git
[submodule "circuit-examples"]
	path = circuit-examples
	url = git@github.com:thor314/circuit-examples.git
[submodule "chacha"]
	path = chacha
	url = git@github.com:thor314/chacha.git
[submodule "pebble-stark"]
	path = pebble-stark
	url = git@github.com:thor314/pebble-stark.git
[submodule "quadratic-span-programs"]
	path = quadratic-span-programs
	url = git@github.com:thor314/quadratic-span-programs.git
[submodule "protogalaxy"]
	path = protogalaxy
	url = git@github.com:thor314/protogalaxy.git
[submodule "uncloak-hw"]
	path = uncloak-hw
	url = git@github.com:thor314/uncloak-hw.git
[submodule "zk-links"]
	path = zk-links
	url = git@github.com:thor314/zk-links.git
[submodule "sha2"]
	path = sha2
	url = git@github.com:thor314/sha2.git
[submodule "circom_play"]
	path = circom_play
	url = git@github.com:thor314/circom_play.git
